*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}
.form-box{
    margin: 10px;
    padding: 10px;
}
.dojo-box{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
